<!doctype html>
<html lang="en"
      th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-th-text="${loggedInUser.name}+'| SCM'" >Profile Page</title>
</head>
<body>

<div id="content" class="pt-20 pl-64"  style="height: 1000px;">

    <!--Show sidebar if user logged inn-->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>

    <h1 class="text-5xl">
        Welcome to profile page!
    </h1>
    <p>lorem10</p>
</div>
<script>
    console.log("profile page");
</script>
</body>
</html>