<!doctype html>
<html lang="en"
         th:replace="~{base :: parent(~{::.content},~{::#title},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="title">About Page</title>
</head>
<body>
    <div class="content">
        <h1 class="text-2xl font-bold">
            Welcome to about page
        </h1>
        <p>lorem10</p>
    </div>
<script>
    console.log("about page");
</script>
</body>
</html>